.app {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  display: flex;
  align-self: center;
  padding: var(--offset-40);
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--color-btn-pink);
  border-radius: 3px;
}

.wrapper {
  margin: auto;
  max-width: 600px;
}

.title {
  margin: 0 0 var(--offset-16);
  font-size: 80px;
}

.subtitle {
  display: block;
  margin: 0 0 var(--offset-32);
  font-size: 16px;
  font-weight: 600;
  color: var(--color-gray);
}

.row {
  display: flex;
  gap: 12px;
}
